<nav class="navbar bg-dark sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="<%= root_path %>"><h3>Ecom</h3></a>

    <div class="d-flex ms-auto align-items-center">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="q[name_cont]" placeholder="Search" aria-label="Search" style="width: 850px;">
        <%# <button class="btn btn-outline-success" type="submit">Search</button> %>
      </form>

      <a class="btn btn-dark btn-sm" href="<%= cart_path(current_customer) %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>

        <span class="translate-middle badge rounded-pill bg-danger">
          <%= @cart_items.count %>
        </span>
      </a>

      <div class="nav-item dropdown ms-1">
        <a class="nav-link dropdown-toggle text-light d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_customer.avatar.attached? %>
            <%= image_tag url_for(current_customer.avatar), class: "rounded-circle me-2", alt: current_customer.email, width: 32, height: 32 %>
          <% end %>
          <%= current_customer.username.present? ? current_customer.username : current_customer.email %>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="<%= customers_path %>">Profile</a></li>
          <li><%= button_to "Sign Out", destroy_customer_session_path, class: "dropdown-item", method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
