<!DOCTYPE html>
<html>
  <head>
    <title>Ecom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload", href: asset_path("application.css") %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'custom', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <% unless customer_signed_in? %>
      <div class="container my-3">
        <%= render 'layouts/messages' %>
      </div>
    <% end %>

    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
