<!DOCTYPE html>
<html>
  <head>
    <title>Ecom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload", href: asset_path("application.css") %>
    <%= javascript_importmap_tags %>
    <style>
      body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
          margin: 0;
      }

      header {
          z-index: 1000;
          background-color: #212529;
      }

      .sidebar {
          display: flex;
          flex-direction: column;
          position: fixed;
          top: 65px;
          bottom: 0;
          width: 280px;
          background-color: #212529;
          color: white;
          overflow-y: auto;
          height: calc(100vh - 65px);
          padding-top: 20px;
          z-index: 100;
      }

      .main-content {
          margin-left: 280px;
          padding: 20px;
          flex: 1;
      }

      .nav-link {
          color: #adb5bd;
      }

      .nav-link.active {
          color: #ffffff;
          background-color: #495057;
      }

      .nav-link:hover {
          color: #ffffff;
          background-color: #495057;
      }

      .sidebar-footer {
          padding: 10px 30px;
          background-color: #212529;
          margin-top: auto;
      }

      .profile-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
      }

      .profile-container .profile-image {
        flex: 0 0 150px;
        margin-right: 20px;
      }

      .profile-container .profile-image img {
        width: 150px;
        height: 150px;
        border-radius: 0;
        object-fit: cover;
      }

      .profile-container .profile-details {
        flex: 1;
      }

      .profile-container .profile-details h2 {
        margin-top: 0;
      }

      .card-footer {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
      }

      .card {
        max-width: 400px;
        margin: 0 auto;
      }

      .size-btn.active {
        background-color: #343a40;
        color: white;
      }

      .disabled {
        pointer-events: none;
        opacity: 0.65;
      }
    </style>
  </head>

  <body>
    <% unless customer_signed_in? %>
      <div class="container my-3">
        <%= render 'layouts/messages' %>
      </div>
    <% end %>

    <%= yield %>
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const sizeButtons = document.querySelectorAll('.size-btn:not(.disabled)');
        const quantityInput = document.getElementById('quantity');
        const formSizeInput = document.getElementById('form-size-id');
        const formQuantityInput = document.getElementById('form-quantity');
        const addToCartButton = document.getElementById('add-to-cart');
        const decreaseQuantityButton = document.getElementById('decreaseQuantity');
        const increaseQuantityButton = document.getElementById('increaseQuantity');

        sizeButtons.forEach(button => {
          button.addEventListener('click', function(event) {
            event.preventDefault();
            sizeButtons.forEach(btn => btn.classList.remove('active'));
            this.classList.add('active');
            formSizeInput.value = this.getAttribute('data-size');
            const maxQuantity = parseInt(this.getAttribute('data-quantity'));
            quantityInput.max = maxQuantity;
            quantityInput.value = 1;
            formQuantityInput.value = 1;
            addToCartButton.disabled = false;
            decreaseQuantityButton.disabled = false;
            increaseQuantityButton.disabled = false;
          });
        });

        // Decrease Quantity Button
        decreaseQuantityButton.addEventListener('click', function(event) {
          event.preventDefault();
          const currentQuantity = parseInt(quantityInput.value);
          if (currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
            formQuantityInput.value = currentQuantity - 1;
          }
        });

        // Increase Quantity Button
        increaseQuantityButton.addEventListener('click', function(event) {
          event.preventDefault();
          const currentQuantity = parseInt(quantityInput.value);
          const maxQuantity = parseInt(quantityInput.max);
          if (currentQuantity < maxQuantity) {
            quantityInput.value = currentQuantity + 1;
            formQuantityInput.value = currentQuantity + 1;
          }
        });

        quantityInput.disabled = true;
        addToCartButton.disabled = true;
        decreaseQuantityButton.disabled = true;
        increaseQuantityButton.disabled = true;
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
